/* For ThemeSwitcher */
$darkBackground: rgb(53, 54, 58);
$darkColor: rgb(255,255,255);
$lightBackground: rgb(255,255,255);
$lightColor: rgb(53,54,58);

$primaryDark:       #1e293b;        // Tailwind slate-800
$secondaryDark:     #94a3b8;        // Tailwind slate-400
$linkDark:          #e2e8f0;        // Tailwind slate-200
$headerDark:        #0f172a;        // Tailwind slate-900

$primaryLight:      #e2e8f0;        // Tailwind slate-200
$secondaryLight:    #334155;        // Tailwind slate-700
$linkLight:         #0f172a;        // Tailwind slate-900
$headerLight:        #e2e8f0;        // Tailwind slate-200


$beige: #FAF0CA;
$white: rgb(255,255,255);


$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
