form {
    &.dark{
        background-color: $formBGDark;
        color: $darkColor;
    }
    &.light{
        background-color: $formBGLight;
        color: $lightColor;
    }

}
input{

    &.dark{
        background-color: $primaryDark;
        color: $darkColor;
    }
    &.light{
        background-color: $white;
        color: $lightColor;
    }

}

label{
    &.dark {
        background-color: transparent;
        border-radius: 5px;
    }
    &.light{
        background-color: transparent;
        border-radius: 5px;
    }
}
button {
    &.dark{
        background-color: $btnBGDark;
    }
    &.light{
        background-color: $btnBGLight;
    }
}
textarea{

    padding: 10px;
    &.dark{
        background-color: $primaryDark;
        color: $darkColor;
    }
    &.light{
        background-color: $white;
        color: $lightColor;
    }
}
.title-bar {
    &.dark{
        background-color: $titleBarDark;
    }
    &.light{
        background-color: $titleBarLight;
    }
}


