.rc-form-window{
    border: 1px solid $secondaryDark;
    padding-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.rc-grid-container{

}
.rc-label {
    padding-bottom: 2px;

}

.rc-field{
    padding-bottom: 2px;
}
