


html {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--lightBg);

    --lightBtn: #FE016C;
    --lightBg: $lightBackground;
    --lightColor: $lightColor;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
    transition-delay: 0;
}
